appointmate/

# Environment variables
.env

# nextdevelopments
todo

# Python cache and virtual environment
__pycache__/
*.py[cod]
*$py.class
venv/
*.venv/
env/
*.env/

# Database file
appointments.db

# Other common ignores
.DS_Store
*.log